In [ ]:
'''
1. 다음파일을 사용 하라
- 6270000_대구광역시_01_01_01_P_병원.xlsx
- 6270000_대구광역시_01_01_02_P_의원.xlsx
- 2019.06.30.기준 대구광역시 주민등록인구 현황_UTF8.csv

2. 다음을 구하라 (폐업을 포함하지 않음)
1) 병원, 종합병원, 의원을 추출하고 각 구별 수를 구하라
2) 치과병원, 치과의원을 추출하고 각 구별 수를 구하라

3. 각구별 인구를 구하여 인구 1000명당 병원(의원) 및 
   치과의 수를 비교하여 숫자로 나타내어라

4 . 치과의 수와 병원(의원)의 수를 bar형태로 그려라
    (각구별로 차트에 숫자가 표시되어야 한다.
'''

In [231]:
import pandas as pd     
import numpy as np 
import matplotlib.pyplot as plt

data1 = pd.read_excel("data/6270000_대구광역시_01_01_01_P_병원.xlsx")
data2 = pd.read_excel("data/6270000_대구광역시_01_01_02_P_의원.xlsx")

In [232]:
data1.info() # 305x44

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 44 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   번호         306 non-null    int64
 1   개방서비스명     306 non-null    object
 2   개방서비스ID    306 non-null    object
 3   개방자치단체코드   306 non-null    int64
 4   관리번호       306 non-null    object
 5   인허가일자      306 non-null    int64
 6   인허가취소일자    0 non-null      float64
 7   영업상태구분코드   306 non-null    int64
 8   영업상태명      306 non-null    object
 9   상세영업상태코드   306 non-null    int64
 10  상세영업상태명    306 non-null    object
 11  폐업일자       88 non-null     float64
 12  휴업시작일자     8 non-null      float64
 13  휴업종료일자     7 non-null      float64
 14  재개업일자      0 non-null      float64
 15  소재지전화      291 non-null    object
 16  소재지면적      0 non-null      float64
 17  소재지우편번호    139 non-null    float64
 18  소재지전체주소    243 non-null    object
 19  도로명전체주소    296 non-null    object
 20  도로명우편번호    268 non-null    float64
 21  사업장명       306 non-null    object
 22  최종수정시점     306 non-null    int64
 23  데이터갱신구분    306 non-null    object
 24  데이터갱신일자    306 non-null    object
 25  업태구분명      306 non-null    object
 26  좌표정보(X)    280 non-null    float64
 27  좌표정보(Y)    280 non-null    float64
 28  의료기관종별명    306 non-null    object
 29  의료인수       306 non-null    int64
 30  입원실수       306 non-null    int64
 31  병상수        306 non-null    int64
 32  총면적        306 non-null    float64
 33  진료과목내용     306 non-null    object
 34  진료과목내용명    306 non-null    object
 35  지정취소일자     0 non-null      float64
 36  완화의료지정형태   0 non-null      float64
 37  완화의료담당부서명  0 non-null      float64
 38  구급차특수      306 non-null    int64
 39  구급차일반      306 non-null    int64
 40  총인원        0 non-null      float64
 41  구조사수       0 non-null      float64
 42  허가병상수      306 non-null    int64
 43  최초지정일자     0 non-null      float64
dtypes: float64(17), int64(12), object(15)
memory usage: 105.3+ KB

In [233]:
data2.info() # 4918 x 44

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4919 entries, 0 to 4918
Data columns (total 44 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   번호         4919 non-null   int64
 1   개방서비스명     4919 non-null   object
 2   개방서비스ID    4919 non-null   object
 3   개방자치단체코드   4919 non-null   int64
 4   관리번호       4919 non-null   object
 5   인허가일자      4919 non-null   int64
 6   인허가취소일자    0 non-null      float64
 7   영업상태구분코드   4919 non-null   int64
 8   영업상태명      4919 non-null   object
 9   상세영업상태코드   4919 non-null   int64
 10  상세영업상태명    4919 non-null   object
 11  폐업일자       1305 non-null   float64
 12  휴업시작일자     29 non-null     float64
 13  휴업종료일자     87 non-null     float64
 14  재개업일자      0 non-null      float64
 15  소재지전화      4707 non-null   object
 16  소재지면적      0 non-null      float64
 17  소재지우편번호    2475 non-null   float64
 18  소재지전체주소    4201 non-null   object
 19  도로명전체주소    4601 non-null   object
 20  도로명우편번호    4318 non-null   float64
 21  사업장명       4919 non-null   object
 22  최종수정시점     4919 non-null   int64
 23  데이터갱신구분    4919 non-null   object
 24  데이터갱신일자    4919 non-null   object
 25  업태구분명      4919 non-null   object
 26  좌표정보(X)    4582 non-null   float64
 27  좌표정보(Y)    4582 non-null   float64
 28  의료기관종별명    4919 non-null   object
 29  의료인수       4919 non-null   int64
 30  입원실수       4919 non-null   int64
 31  병상수        4919 non-null   int64
 32  총면적        4919 non-null   float64
 33  진료과목내용     4906 non-null   object
 34  진료과목내용명    4906 non-null   object
 35  지정취소일자     0 non-null      float64
 36  완화의료지정형태   0 non-null      float64
 37  완화의료담당부서명  0 non-null      float64
 38  구급차특수      4919 non-null   int64
 39  구급차일반      4919 non-null   int64
 40  총인원        0 non-null      float64
 41  구조사수       0 non-null      float64
 42  허가병상수      4919 non-null   int64
 43  최초지정일자     0 non-null      float64
dtypes: float64(17), int64(12), object(15)
memory usage: 1.7+ MB

In [234]:
data = pd.concat([data1, data2], ignore_index=True) # 인덱스 무시하고 밑으로 열별로 가져다 붙임
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5225 entries, 0 to 5224
Data columns (total 44 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   번호         5225 non-null   int64
 1   개방서비스명     5225 non-null   object
 2   개방서비스ID    5225 non-null   object
 3   개방자치단체코드   5225 non-null   int64
 4   관리번호       5225 non-null   object
 5   인허가일자      5225 non-null   int64
 6   인허가취소일자    0 non-null      float64
 7   영업상태구분코드   5225 non-null   int64
 8   영업상태명      5225 non-null   object
 9   상세영업상태코드   5225 non-null   int64
 10  상세영업상태명    5225 non-null   object
 11  폐업일자       1393 non-null   float64
 12  휴업시작일자     37 non-null     float64
 13  휴업종료일자     94 non-null     float64
 14  재개업일자      0 non-null      float64
 15  소재지전화      4998 non-null   object
 16  소재지면적      0 non-null      float64
 17  소재지우편번호    2614 non-null   float64
 18  소재지전체주소    4444 non-null   object
 19  도로명전체주소    4897 non-null   object
 20  도로명우편번호    4586 non-null   float64
 21  사업장명       5225 non-null   object
 22  최종수정시점     5225 non-null   int64
 23  데이터갱신구분    5225 non-null   object
 24  데이터갱신일자    5225 non-null   object
 25  업태구분명      5225 non-null   object
 26  좌표정보(X)    4862 non-null   float64
 27  좌표정보(Y)    4862 non-null   float64
 28  의료기관종별명    5225 non-null   object
 29  의료인수       5225 non-null   int64
 30  입원실수       5225 non-null   int64
 31  병상수        5225 non-null   int64
 32  총면적        5225 non-null   float64
 33  진료과목내용     5212 non-null   object
 34  진료과목내용명    5212 non-null   object
 35  지정취소일자     0 non-null      float64
 36  완화의료지정형태   0 non-null      float64
 37  완화의료담당부서명  0 non-null      float64
 38  구급차특수      5225 non-null   int64
 39  구급차일반      5225 non-null   int64
 40  총인원        0 non-null      float64
 41  구조사수       0 non-null      float64
 42  허가병상수      5225 non-null   int64
 43  최초지정일자     0 non-null      float64
dtypes: float64(17), int64(12), object(15)
memory usage: 1.8+ MB

In [235]:
data = data[data["영업상태명"] == "영업/정상"]
drop_list = ['번호', '개방서비스명', '개방서비스ID', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '좌표정보(X)', '좌표정보(Y)',
       '의료기관종별명', '의료인수', '입원실수', '병상수', '총면적', '진료과목내용', '진료과목내용명', '지정취소일자',
       '완화의료지정형태', '완화의료담당부서명', '구급차특수', '구급차일반', '총인원', '구조사수', '허가병상수',
       '최초지정일자']
data= data.drop(drop_list, axis =1 )
data

                                                도로명전체주소 업태구분명
1     대구광역시 중구 중앙대로 366, 지하1,1,2,3,5,7,11,12,14,17층 ...    병원
14                       대구광역시 중구 동덕로 194 (동인동1가, 동화빌딩)    병원
15                   대구광역시 중구 달성로 56, 계명대학교대구동산병원 (동산동)  종합병원
16                             대구광역시 중구 동덕로 197 (동인동1가)    병원
17                              대구광역시 중구 공평로 12 (삼덕동2가)  치과병원
...                                                 ...   ...
5092                   대구광역시 달성군 유가읍 테크노상업로 96, 4층 401호   한의원
5093                              대구광역시 달성군 논공읍 논공로 760  치과의원
5094                            대구광역시 달성군 다사읍 달구벌대로 805   한의원
5095                               대구광역시 달성군 화원읍 화암로 63  치과의원
5096                           대구광역시 달성군 현풍읍 비슬로130길 79    의원

[3825 rows x 2 columns]

In [237]:
data[["시", "구", "나머지"]] = data["도로명전체주소"].str.split(" ", n=2,expand= True)
drop_list = ["도로명전체주소", "시", "나머지"]
result = data.drop(drop_list, axis="columns")
mid_result = result

In [238]:
result = result[["구", "업태구분명"]]
result["count"] = 1

result = result.groupby(["업태구분명", "구"]).sum()

In [239]:
result

           count
업태구분명 구
병원    남구       7
      달서구     31
      달성군      7
      동구       9
      북구      20
...          ...
한의원   동구     112
      북구     122
      서구      71
      수성구    206
      중구      69

[67 rows x 1 columns]

In [242]:
check_list = ["병원", "종합병원", "의원", "치과병원", "치과의원"]
result.loc[check_list]

           count
업태구분명 구
병원    남구       7
      달서구     31
      달성군      7
      동구       9
      북구      20
      서구       8
      수성구     15
      중구      11
의원    남구     105
      달서구    380
      달성군    123
      대천로      1
      동구     238
      북구     253
      서구     119
      수성구    350
      중구     257
종합병원  남구       3
      달서구      6
      동구       1
      북구       2
      서구       1
      수성구      1
      중구       3
치과병원  달서구      5
      북구       2
      수성구      5
      중구       4
치과의원  남구      57
      달서구    198
      달성군     61
      동구     104
      북구     143
      서구      51
      수성구    163
      중구     108

In [266]:
data3 = pd.read_csv("data/2019.06.30.기준 대구광역시 주민등록인구 현황_UTF8.csv", thousands=',')

In [267]:
check_list = ["행정구역", "총계", " 남", " 여"]
drop_list = []
for chk in check_list:
    for item in data3.columns:
        if chk in item:
            drop_list.append(item)
drop_list = list(set(drop_list))
data3 = data3.drop(drop_list, axis="columns")
data3

     중구 계  동구 계  서구 계  남구 계  북구 계  수성구 계  달서구 계  달성군 계
0     456  2019   559   532  2523   1565   2771   2660
1     524  2401   688   598  2954   1964   3370   2885
2     588  2718   852   675  3386   2387   3836   3138
3     625  2947   947   742  3717   2839   4480   3362
4     628  3103   885   722  3853   3069   4710   3260
..    ...   ...   ...   ...   ...    ...    ...    ...
96     28    56    32    52    76     67     77     36
97     19    64    22    26    41     54     46     20
98     16    29    16    23    34     32     30     11
99     16    27    12    21    26     25     17      8
100    87   115    93    77    76     95     79     28

[101 rows x 8 columns]

In [268]:
data3 = data3.T
data3["총합"] = data3.sum(axis="columns")
data3

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,총합
중구 계,456,524,588,625,628,542,588,553,583,485,...,72,48,36,31,28,19,16,16,87,77935
동구 계,2019,2401,2718,2947,3103,2936,2992,3067,2991,2763,...,231,135,128,89,56,64,29,27,115,348825
서구 계,559,688,852,947,885,938,998,991,1033,874,...,117,74,57,40,32,22,16,12,93,179920
남구 계,532,598,675,742,722,771,842,809,818,712,...,114,93,62,40,52,26,23,21,77,148682
북구 계,2523,2954,3386,3717,3853,3783,3984,4067,4105,3744,...,194,124,100,46,76,41,34,26,76,439093
수성구 계,1565,1964,2387,2839,3069,3269,3779,4096,4302,4106,...,246,170,131,76,67,54,32,25,95,430481
달서구 계,2771,3370,3836,4480,4710,4597,4927,5213,5313,5019,...,220,155,127,79,77,46,30,17,79,571303
달성군 계,2660,2885,3138,3362,3260,3033,3174,3135,3018,2628,...,131,75,55,27,36,20,11,8,28,254239

In [276]:
man_result = data3["총합"]
man_result.values
man_result = pd.Series(man_result.values, index =['중구', '동구', '서구', '남구', '북구', '수성구', '달서구', '달성군'] )

# man_result = man_result.reindex(['중구', '동구', '서구', '남구', '북구', '수성구', '달서구', '달성군'])

In [289]:
man_result.index[1]

'동구'

In [290]:
hospital_result = result
hospital_result.loc[["병원","종합병원","의원","치과의원","치과병원"]]

           count
업태구분명 구
병원    남구       7
      달서구     31
      달성군      7
      동구       9
      북구      20
      서구       8
      수성구     15
      중구      11
의원    남구     105
      달서구    380
      달성군    123
      대천로      1
      동구     238
      북구     253
      서구     119
      수성구    350
      중구     257
종합병원  남구       3
      달서구      6
      동구       1
      북구       2
      서구       1
      수성구      1
      중구       3
치과병원  달서구      5
      북구       2
      수성구      5
      중구       4
치과의원  남구      57
      달서구    198
      달성군     61
      동구     104
      북구     143
      서구      51
      수성구    163
      중구     108

In [288]:
man_result

중구      77935
동구     348825
서구     179920
남구     148682
북구     439093
수성구    430481
달서구    571303
달성군    254239
dtype: int64

In [291]:
mid_result["총 인구수"] = mid_result["구"] ==

     업태구분명    구
1       병원   중구
14      병원   중구
15    종합병원   중구
16      병원   중구
17    치과병원   중구
...    ...  ...
5092   한의원  달성군
5093  치과의원  달성군
5094   한의원  달성군
5095  치과의원  달성군
5096    의원  달성군

[3825 rows x 2 columns]