In [1]:
import pandas as pd
import numpy as np
import matplotlib.font_manager as fm
import matplotlib.pyplot as plt
font_path = 'C:/Windows/Fonts/NGULIM.TTF'
font_family = fm.FontProperties(fname=font_path).get_name()
plt.rcParams["font.family"] = font_family

In [2]:
df = pd.read_excel("data/통합 문서1.xlsx")

In [3]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19917773,대구통닭,통통치킨상인2호점,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,2.729012e+24,NaN,대구광역시 달서구 상화북로43길 74,704370.0,42806.0,NaN,1,NaN,128.546040,35.817554
1,19919475,빵마루,NaN,Q,음식,Q08,제과제빵떡케익,Q08A01,제과점,I56191,...,2.726011e+24,녹원아파트,대구광역시 수성구 무학로 187,706090.0,42183.0,NaN,1,NaN,128.628821,35.830867
2,19925178,오구피자,NaN,Q,음식,Q07,패스트푸드,Q07A01,피자전문,I56192,...,2.817011e+24,NaN,인천광역시 남구 미추홀대로 541,402200.0,22216.0,NaN,1,NaN,126.678585,37.445680
3,19907335,명진가마솥오곡밥,NaN,Q,음식,Q01,한식,Q01A16,보리밥전문,I56111,...,2.920012e+24,NaN,광주광역시 광산구 첨단중앙로170번길 17,506303.0,62274.0,NaN,1,NaN,126.842826,35.220843
4,19909700,이오쇠고기국밥,NaN,Q,음식,Q01,한식,Q01A05,해장국/감자탕,I56111,...,2.711016e+24,NaN,대구광역시 중구 달구벌대로 2222,700430.0,41951.0,NaN,NaN,NaN,128.606083,35.862251

In [4]:
df1 = df[['상호명','지점명','지번주소','경도','위도','시도명']]

In [5]:
df2=df1[df1['시도명']=='대구광역시']

In [46]:
Star = df2[df2['상호명'].str.contains('스타벅스', na=False)]
Star['상호명2']='스타벅스'
Star = Star.drop_duplicates('지번주소',keep='first')
Ediya = df2[df2['상호명'].str.contains('이디야커피', na=False)]
Ediya = Ediya.append(df2[df2['상호명'].str.contains('이디아커피', na=False)])
Ediya = Ediya.append(df2[df2['상호명'].str.contains('이디아까페', na=False)])
Ediya['상호명2']='이디야커피'
Ediya = Ediya.drop_duplicates('지번주소',keep='first')
dfx = Star.append(Ediya)
print(len(Star))
print(len(Ediya))

72
35

In [47]:
dfx[['시','구','동','나머지']]=dfx['지번주소'].str.split(' ',n=3,expand=True)

In [48]:
df3 = dfx

# 1

In [50]:
df3

,상호명,지점명,지번주소,경도,위도,시도명,상호명2,시,구,동,나머지
30554,스타벅스동성로중앙점,동성로중앙점,대구광역시 중구 삼덕동1가 17-11,128.596677,35.867508,대구광역시,스타벅스,대구광역시,중구,삼덕동1가,17-11
31198,스타벅스대구법원점,대구법원점,대구광역시 수성구 범어동 2237,128.627770,35.864537,대구광역시,스타벅스,대구광역시,수성구,범어동,2237
31464,스타벅스,대구상인DT점,대구광역시 달서구 상인동 54-3,128.533791,35.822791,대구광역시,스타벅스,대구광역시,달서구,상인동,54-3
41627,스타벅스,대구성서ICDT점,대구광역시 달서구 용산동 410-9,128.520117,35.850711,대구광역시,스타벅스,대구광역시,달서구,용산동,410-9
53418,스타벅스,대구죽곡점,대구광역시 달성군 다사읍 매곡리 1546-7,128.464258,35.859160,대구광역시,스타벅스,대구광역시,달성군,다사읍,매곡리 1546-7
...,...,...,...,...,...,...,...,...,...,...,...
442241,이디야커피,대구중구청점,대구광역시 중구 동인동2가 221,128.606331,35.868757,대구광역시,이디야커피,대구광역시,중구,동인동2가,221
489054,이디야커피,대구텍스빌점,대구광역시 북구 산격동 1667,128.609675,35.906289,대구광역시,이디야커피,대구광역시,북구,산격동,1667
494386,이디야커피,동대구역사점,대구광역시 동구 신암동 294,128.628726,35.879098,대구광역시,이디야커피,대구광역시,동구,신암동,294
512351,이디야커피,대구영대병원점,대구광역시 남구 대명동 160-1,128.586059,35.845171,대구광역시,이디야커피,대구광역시,남구,대명동,160-1
16270,이디아커피시지점,시지점,대구광역시 수성구 신매동 566-3,128.704075,35.839788,대구광역시,이디야커피,대구광역시,수성구,신매동,566-3

In [51]:
df4 = df3[['상호명2','구']]
df4['count']=1
df4.head()

       상호명2    구  count
30554  스타벅스   중구      1
31198  스타벅스  수성구      1
31464  스타벅스  달서구      1
41627  스타벅스  달서구      1
53418  스타벅스  달성군      1

In [52]:
df5 = df4.groupby(['구','상호명2'])

In [53]:
df5 = df5.sum()

In [54]:
df5

           count
구   상호명2
남구  스타벅스       3
    이디야커피      5
달서구 스타벅스      17
    이디야커피      6
달성군 스타벅스       4
    이디야커피      3
동구  스타벅스       7
    이디야커피      4
북구  스타벅스       6
    이디야커피      7
서구  스타벅스       3
수성구 스타벅스      19
    이디야커피      5
중구  스타벅스      13
    이디야커피      5

# 2

In [55]:
df6 = df3[['상호명2','동']]
df6['count']=1
df6.head()

       상호명2      동  count
30554  스타벅스  삼덕동1가      1
31198  스타벅스    범어동      1
31464  스타벅스    상인동      1
41627  스타벅스    용산동      1
53418  스타벅스    다사읍      1

In [56]:
df7 = df6.groupby(['동','상호명2'])
df7 = df7.sum()

In [57]:
df7

             count
동     상호명2
각산동   이디야커피      1
감삼동   스타벅스       2
계산동2가 스타벅스       1
남성로   이디야커피      1
남일동   스타벅스       1
...            ...
태전동   스타벅스       1
      이디야커피      2
평리동   스타벅스       1
하빈면   스타벅스       2
효목동   스타벅스       1

[74 rows x 1 columns]

# 3

In [58]:
D = df2[['상호명','지번주소','경도','위도']]

In [59]:
D

              상호명                   지번주소          경도         위도
0            대구통닭  대구광역시 달서구 상인동 1531-12  128.546040  35.817554
1             빵마루    대구광역시 수성구 지산동 761-8  128.628821  35.830867
4         이오쇠고기국밥      대구광역시 중구 대봉동 12-9  128.606083  35.862251
11             미화  대구광역시 중구 동인동4가 248-20  128.606981  35.866834
12            충무회   대구광역시 수성구 두산동 154-26  128.617649  35.831691
...           ...                    ...         ...        ...
528303  동녘바다머구리해물   대구광역시 수성구 두산동 138-14  128.617187  35.833532
528304   해녀조개돌문어탕  대구광역시 수성구 수성동2가 238-3  128.614044  35.856478
528305   민영이수제돈까스    대구광역시 달서구 성당동 704-5  128.545157  35.845499
528306        A모텔     대구광역시 동구 신천동 325-7  128.627103  35.874158
528310  더칼라네일&속눈썹    대구광역시 달서구 본리동 145-5  128.544277  35.839861

[129875 rows x 4 columns]

In [62]:
Star = D[D['상호명'].str.contains('스타벅스', na=False)]
Star = Star.drop_duplicates('지번주소',keep='first')
len(Star)

72

In [63]:
Ediya = D[D['상호명'].str.contains('이디야커피', na=False)]
Ediya = Ediya.append(D[D['상호명'].str.contains('이디아커피', na=False)])
Ediya = Ediya.append(D[D['상호명'].str.contains('이디아까페', na=False)])
Ediya = Ediya.drop_duplicates('지번주소',keep='first')

In [64]:
len(Ediya)

35

In [65]:
Star.iloc[0]

상호명               스타벅스동성로중앙점
지번주소    대구광역시 중구 삼덕동1가 17-11
경도                   128.597
위도                   35.8675
Name: 30554, dtype: object

In [ ]:
#pip install haversine

In [66]:
from haversine import haversine

In [68]:
Dis = pd.DataFrame(np.nan,Star,Ediya)
Dis

,"(이디야커피, 대구광역시 북구 칠성동2가 20-1, 128.589799077132, 35.8852347042223)","(이디야커피, 대구광역시 달서구 신당동 1721-16, 128.493146693962, 35.8558274631559)","(이디야커피, 대구광역시 수성구 범어동 305-3, 128.634549791249, 35.8524870097051)","(이디야커피, 대구광역시 동구 신서동 528-2, 128.724505432206, 35.8673727879244)","(이디야커피, 대구광역시 남구 대명동 1676-5, 128.579709398771, 35.8427052913394)","(이디야커피, 대구광역시 수성구 신매동 10-8, 128.716409977141, 35.836497121501)","(이디야커피, 대구광역시 북구 침산동 265-28, 128.592033333502, 35.8878014873204)","(이디야커피, 대구광역시 남구 대명동 1794-5, 128.590345729749, 35.8529196117904)","(이디야커피, 대구광역시 중구 종로1가 31-2, 128.59096549587, 35.8707898088375)","(이디야커피, 대구광역시 북구 태전동 940-8, 128.548032650865, 35.931877463765)",...,"(이디야커피, 대구광역시 달성군 유가면 봉리 615, 128.461150900828, 35.6932531886948)","(이디야커피, 대구광역시 동구 각산동 1033-2, 128.713809969594, 35.8786221263659)","(이디야커피대구송현점, 대구광역시 달서구 송현동 635, 128.549403783074, 35.8287869183019)","(이디야커피, 대구광역시 북구 칠성동2가 82-2, 128.589371642991, 35.8798649325755)","(이디야커피, 대구광역시 중구 동인동1가 358-2, 128.604904647572, 35.8718921512586)","(이디야커피, 대구광역시 중구 동인동2가 221, 128.606331446311, 35.8687573736221)","(이디야커피, 대구광역시 북구 산격동 1667, 128.609675334912, 35.9062893844515)","(이디야커피, 대구광역시 동구 신암동 294, 128.628726138595, 35.8790975727776)","(이디야커피, 대구광역시 남구 대명동 160-1, 128.586059492804, 35.8451711663362)","(이디아커피시지점, 대구광역시 수성구 신매동 566-3, 128.704075090028, 35.8397877301189)"
"(스타벅스동성로중앙점, 대구광역시 중구 삼덕동1가 17-11, 128.5966770941, 35.8675078052018)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(스타벅스대구법원점, 대구광역시 수성구 범어동 2237, 128.627769586325, 35.8645372444603)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(스타벅스, 대구광역시 달서구 상인동 54-3, 128.533791042123, 35.8227913056608)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(스타벅스, 대구광역시 달서구 용산동 410-9, 128.520117204754, 35.8507113771614)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(스타벅스, 대구광역시 달성군 다사읍 매곡리 1546-7, 128.464257826967, 35.8591602989892)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(스타벅스, 대구광역시 수성구 수성동3가 77, 128.620322658569, 35.8538231490581)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(스타벅스, 대구광역시 북구 칠성동2가 371-5, 128.596147949831, 35.8796512312154)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(스타벅스, 대구광역시 달서구 상인동 620, 128.54104160408, 35.8148722321362)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(스타벅스, 대구광역시 수성구 범어동 563-1, 128.624991860808, 35.8576836543237)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(스타벅스, 대구광역시 중구 문화동 11-1, 128.598120429496, 35.8709617047047)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
for i in range(len(Star)):
    for j in range(len(Ediya)):
        Dis.iloc[i][j] = haversine(tuple(Star.iloc[i][2:]), tuple(Ediya.iloc[j][2:])) * 1000

In [93]:
A = Dis<100
A.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, ('스타벅스동성로중앙점', '대구광역시 중구 삼덕동1가 17-11', 128.5966770941, 35.8675078052018) to ('스타벅스', '대구광역시 중구 문화동 11-1', 128.598120429496, 35.8709617047047)
Data columns (total 35 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   (이디야커피, 대구광역시 북구 칠성동2가 20-1, 128.589799077132, 35.8852347042223)       72 non-null     bool
 1   (이디야커피, 대구광역시 달서구 신당동 1721-16, 128.493146693962, 35.8558274631559)     72 non-null     bool
 2   (이디야커피, 대구광역시 수성구 범어동 305-3, 128.634549791249, 35.8524870097051)       72 non-null     bool
 3   (이디야커피, 대구광역시 동구 신서동 528-2, 128.724505432206, 35.8673727879244)        72 non-null     bool
 4   (이디야커피, 대구광역시 남구 대명동 1676-5, 128.579709398771, 35.8427052913394)       72 non-null     bool
 5   (이디야커피, 대구광역시 수성구 신매동 10-8, 128.716409977141, 35.836497121501)         72 non-null     bool
 6   (이디야커피, 대구광역시 북구 침산동 265-28, 128.592033333502, 35.8878014873204)       72 non-null     bool
 7   (이디야커피, 대구광역시 남구 대명동 1794-5, 128.590345729749, 35.8529196117904)       72 non-null     bool
 8   (이디야커피, 대구광역시 중구 종로1가 31-2, 128.59096549587, 35.8707898088375)         72 non-null     bool
 9   (이디야커피, 대구광역시 북구 태전동 940-8, 128.548032650865, 35.931877463765)         72 non-null     bool
 10  (이디야커피, 대구광역시 중구 삼덕동2가 40-2, 128.603301340941, 35.8663660981559)       72 non-null     bool
 11  (이디야커피, 대구광역시 수성구 범어동 1-1, 128.624211574012, 35.866899217171)          72 non-null     bool
 12  (이디야커피, 대구광역시 달서구 진천동 833-20, 128.532068183499, 35.810063107142)       72 non-null     bool
 13  (이디야커피, 대구광역시 수성구 욱수동 228-2, 128.708130160652, 35.8302369442292)       72 non-null     bool
 14  (이디야커피대구종로점, 대구광역시 중구 남성로 92, 128.592014404019, 35.8673956728951)      72 non-null     bool
 15  (이디야커피, 대구광역시 달성군 유가면 봉리 590, 128.460605789792, 35.6983749679353)      72 non-null     bool
 16  (이디야커피대명동점, 대구광역시 남구 대명동 1676-8, 128.579750528588, 35.8422724560256)   72 non-null     bool
 17  (이디야커피대구봉덕점, 대구광역시 남구 봉덕동 617-13, 128.598394612873, 35.8426137059987)  72 non-null     bool
 18  (이디야커피, 대구광역시 북구 태전동 253-5, 128.543967061172, 35.9256408224078)        72 non-null     bool
 19  (이디야커피, 대구광역시 북구 대현동 227-11, 128.606426194397, 35.8840973692704)       72 non-null     bool
 20  (이디야커피, 대구광역시 달성군 옥포면 교항리 2915, 128.441569604244, 35.7809917927259)    72 non-null     bool
 21  (이디야커피, 대구광역시 달서구 상인동 1595-7, 128.532407332608, 35.8227433622998)      72 non-null     bool
 22  (이디야커피, 대구광역시 달서구 진천동 553, 128.525558900439, 35.8163469958344)         72 non-null     bool
 23  (이디야커피, 대구광역시 동구 신서동 1147-1, 128.7309920841, 35.8791857705464)         72 non-null     bool
 24  (이디야커피, 대구광역시 달서구 이곡동 1250-14, 128.512324425376, 35.8543411546225)     72 non-null     bool
 25  (이디야커피, 대구광역시 달성군 유가면 봉리 615, 128.461150900828, 35.6932531886948)      72 non-null     bool
 26  (이디야커피, 대구광역시 동구 각산동 1033-2, 128.713809969594, 35.8786221263659)       72 non-null     bool
 27  (이디야커피대구송현점, 대구광역시 달서구 송현동 635, 128.549403783074, 35.8287869183019)    72 non-null     bool
 28  (이디야커피, 대구광역시 북구 칠성동2가 82-2, 128.589371642991, 35.8798649325755)       72 non-null     bool
 29  (이디야커피, 대구광역시 중구 동인동1가 358-2, 128.604904647572, 35.8718921512586)      72 non-null     bool
 30  (이디야커피, 대구광역시 중구 동인동2가 221, 128.606331446311, 35.8687573736221)        72 non-null     bool
 31  (이디야커피, 대구광역시 북구 산격동 1667, 128.609675334912, 35.9062893844515)         72 non-null     bool
 32  (이디야커피, 대구광역시 동구 신암동 294, 128.628726138595, 35.8790975727776)          72 non-null     bool
 33  (이디야커피, 대구광역시 남구 대명동 160-1, 128.586059492804, 35.8451711663362)        72 non-null     bool
 34  (이디아커피시지점, 대구광역시 수성구 신매동 566-3, 128.704075090028, 35.8397877301189)    72 non-null     bool
dtypes: bool(35)
memory usage: 3.0+ KB

In [94]:
A.sum()

(이디야커피, 대구광역시 북구 칠성동2가 20-1, 128.589799077132, 35.8852347042223)         0
(이디야커피, 대구광역시 달서구 신당동 1721-16, 128.493146693962, 35.8558274631559)       1
(이디야커피, 대구광역시 수성구 범어동 305-3, 128.634549791249, 35.8524870097051)         0
(이디야커피, 대구광역시 동구 신서동 528-2, 128.724505432206, 35.8673727879244)          0
(이디야커피, 대구광역시 남구 대명동 1676-5, 128.579709398771, 35.8427052913394)         0
(이디야커피, 대구광역시 수성구 신매동 10-8, 128.716409977141, 35.836497121501)           0
(이디야커피, 대구광역시 북구 침산동 265-28, 128.592033333502, 35.8878014873204)         1
(이디야커피, 대구광역시 남구 대명동 1794-5, 128.590345729749, 35.8529196117904)         0
(이디야커피, 대구광역시 중구 종로1가 31-2, 128.59096549587, 35.8707898088375)           0
(이디야커피, 대구광역시 북구 태전동 940-8, 128.548032650865, 35.931877463765)           0
(이디야커피, 대구광역시 중구 삼덕동2가 40-2, 128.603301340941, 35.8663660981559)         0
(이디야커피, 대구광역시 수성구 범어동 1-1, 128.624211574012, 35.866899217171)            0
(이디야커피, 대구광역시 달서구 진천동 833-20, 128.532068183499, 35.810063107142)         0
(이디야커피, 대구광역시 수성구 욱수동 228-2, 128.708130160652, 35.8302369442292)         0
(이디야커피대구종로점, 대구광역시 중구 남성로 92, 128.592014404019, 35.8673956728951)        1
(이디야커피, 대구광역시 달성군 유가면 봉리 590, 128.460605789792, 35.6983749679353)        0
(이디야커피대명동점, 대구광역시 남구 대명동 1676-8, 128.579750528588, 35.8422724560256)     0
(이디야커피대구봉덕점, 대구광역시 남구 봉덕동 617-13, 128.598394612873, 35.8426137059987)    0
(이디야커피, 대구광역시 북구 태전동 253-5, 128.543967061172, 35.9256408224078)          0
(이디야커피, 대구광역시 북구 대현동 227-11, 128.606426194397, 35.8840973692704)         0
(이디야커피, 대구광역시 달성군 옥포면 교항리 2915, 128.441569604244, 35.7809917927259)      0
(이디야커피, 대구광역시 달서구 상인동 1595-7, 128.532407332608, 35.8227433622998)        0
(이디야커피, 대구광역시 달서구 진천동 553, 128.525558900439, 35.8163469958344)           0
(이디야커피, 대구광역시 동구 신서동 1147-1, 128.7309920841, 35.8791857705464)           0
(이디야커피, 대구광역시 달서구 이곡동 1250-14, 128.512324425376, 35.8543411546225)       0
(이디야커피, 대구광역시 달성군 유가면 봉리 615, 128.461150900828, 35.6932531886948)        0
(이디야커피, 대구광역시 동구 각산동 1033-2, 128.713809969594, 35.8786221263659)         0
(이디야커피대구송현점, 대구광역시 달서구 송현동 635, 128.549403783074, 35.8287869183019)      0
(이디야커피, 대구광역시 북구 칠성동2가 82-2, 128.589371642991, 35.8798649325755)         0
(이디야커피, 대구광역시 중구 동인동1가 358-2, 128.604904647572, 35.8718921512586)        0
(이디야커피, 대구광역시 중구 동인동2가 221, 128.606331446311, 35.8687573736221)          0
(이디야커피, 대구광역시 북구 산격동 1667, 128.609675334912, 35.9062893844515)           0
(이디야커피, 대구광역시 동구 신암동 294, 128.628726138595, 35.8790975727776)            1
(이디야커피, 대구광역시 남구 대명동 160-1, 128.586059492804, 35.8451711663362)          0
(이디아커피시지점, 대구광역시 수성구 신매동 566-3, 128.704075090028, 35.8397877301189)      0
dtype: int64

In [78]:
A.sum().sum()

4

In [76]:
ED = []
ST = []

In [81]:
for i in range(len(Star)):
    for j in range(len(Ediya)):
        if A.iloc[i][j]==True :
            ST.append(Star.iloc[i][1])
            ED.append(Ediya.iloc[j][1])
ED

['대구광역시 달서구 신당동 1721-16',
 '대구광역시 중구 남성로 92',
 '대구광역시 북구 침산동 265-28',
 '대구광역시 동구 신암동 294',
 '대구광역시 달서구 신당동 1721-16',
 '대구광역시 중구 남성로 92',
 '대구광역시 북구 침산동 265-28',
 '대구광역시 동구 신암동 294',
 '대구광역시 달서구 신당동 1721-16',
 '대구광역시 중구 남성로 92',
 '대구광역시 북구 침산동 265-28',
 '대구광역시 동구 신암동 294',
 '대구광역시 달서구 신당동 1721-16',
 '대구광역시 중구 남성로 92',
 '대구광역시 북구 침산동 265-28',
 '대구광역시 동구 신암동 294']

In [85]:
ST

['대구광역시 달서구 신당동 1721-12',
 '대구광역시 중구 덕산동 53-3',
 '대구광역시 북구 침산동 245-1',
 '대구광역시 동구 신천동 1506',
 '대구광역시 달서구 신당동 1721-12',
 '대구광역시 중구 덕산동 53-3',
 '대구광역시 북구 침산동 245-1',
 '대구광역시 동구 신천동 1506',
 '대구광역시 달서구 신당동 1721-12',
 '대구광역시 중구 덕산동 53-3',
 '대구광역시 북구 침산동 245-1',
 '대구광역시 동구 신천동 1506',
 '대구광역시 달서구 신당동 1721-12',
 '대구광역시 중구 덕산동 53-3',
 '대구광역시 북구 침산동 245-1',
 '대구광역시 동구 신천동 1506']

In [82]:
B = pd.DataFrame(np.nan,index=range(A.sum().sum()),columns=['ED','ST'])
B

   ED  ST
0 NaN NaN
1 NaN NaN
2 NaN NaN
3 NaN NaN

In [83]:
B['ED']=ED
B['ST']=ST

ValueError: Length of values does not match length of index

In [84]:
B

   ED  ST
0 NaN NaN
1 NaN NaN
2 NaN NaN
3 NaN NaN

In [86]:
A = Dis<200
ED = []
ST = []
for i in range(len(Star)):
    for j in range(len(Ediya)):
        if A.iloc[i][j]==True :
            ST.append(Star.iloc[i][1])
            ED.append(Ediya.iloc[j][1])

In [87]:
B = pd.DataFrame(np.nan,index=range(A.sum().sum()),columns=['ED','ST'])
B['ED']=ED
B['ST']=ST
B

                      ED                     ST
0   대구광역시 달서구 상인동 1595-7     대구광역시 달서구 상인동 54-3
1  대구광역시 달서구 신당동 1721-16  대구광역시 달서구 신당동 1721-12
2        대구광역시 중구 남성로 92      대구광역시 중구 덕산동 53-3
3    대구광역시 북구 침산동 265-28     대구광역시 북구 침산동 245-1
4        대구광역시 중구 남성로 92    대구광역시 중구 동성로3가 32-1
5        대구광역시 중구 남성로 92   대구광역시 중구 동성로3가 35-13
6      대구광역시 달서구 진천동 553    대구광역시 달서구 진천동 581-1
7       대구광역시 동구 신암동 294      대구광역시 동구 신천동 1506

In [95]:
A = Dis<300
ED = []
ST = []
for i in range(len(Star)):
    for j in range(len(Ediya)):
        if A.iloc[i][j]==True :
            ST.append(Star.iloc[i][1])
            ED.append(Ediya.iloc[j][1])
B = pd.DataFrame(np.nan,index=range(A.sum().sum()),columns=['ED','ST'])
B['ED']=ED
B['ST']=ST
B

                       ED                      ST
0    대구광역시 달서구 상인동 1595-7      대구광역시 달서구 상인동 54-3
1         대구광역시 중구 남성로 92    대구광역시 중구 동성로3가 91-16
2   대구광역시 달서구 신당동 1721-16   대구광역시 달서구 신당동 1721-12
3   대구광역시 달서구 이곡동 1250-14    대구광역시 달서구 이곡동 1248-1
4       대구광역시 수성구 범어동 1-1       대구광역시 수성구 범어동 2-1
5         대구광역시 중구 남성로 92       대구광역시 중구 덕산동 53-3
6        대구광역시 동구 신암동 294      대구광역시 동구 신천동 330-6
7     대구광역시 북구 칠성동2가 20-1      대구광역시 북구 침산동 245-1
8     대구광역시 북구 침산동 265-28      대구광역시 북구 침산동 245-1
9         대구광역시 중구 남성로 92     대구광역시 중구 동성로3가 32-1
10        대구광역시 중구 남성로 92    대구광역시 중구 동성로3가 35-13
11        대구광역시 중구 남성로 92      대구광역시 중구 계산동2가 180
12      대구광역시 달서구 진천동 553     대구광역시 달서구 진천동 581-1
13   대구광역시 달성군 유가면 봉리 615  대구광역시 달성군 유가면 봉리 607-1
14       대구광역시 동구 신암동 294       대구광역시 동구 신천동 1506

Ediya가 35곳이 있는데 과연 4,8,15쌍이 많은 쌍일까?

In [ ]:
print(4/35)
print(8/35)
print(15/35)

In [97]:
import math

def Dist(A,B):
    lat1 = A[0]
    lon1 = A[1]
    lat2 = B[0]
    lon2 = B[1]
    R = 6371000 
    rad_lat1 = lat1 * math.pi*(1/180) # latitude, longitude in radians (angle to radians)
    rad_lat2 = lat2 * math.pi*(1/180)
    dis_lat = (lat2-lat1) * math.pi*(1/180)
    dis_lon = (lon2-lon1) * math.pi*(1/180)
    a = math.sin(dis_lat/2) * math.sin(dis_lat/2) + math.cos(rad_lat1) * math.cos(rad_lat2) * math.sin(dis_lon/2) * math.sin(dis_lon/2) #a = sin²(Δφ/2) + cos φ1 ⋅ cos φ2 ⋅ sin²(Δλ/2)

    b= 1-a
    c = 2 * (math.atan2( math.sqrt(a), math.sqrt(b)))

    d = R * c #in metres
    return d

In [98]:
Seoul = [37.541, 126.986]  #Latitude, Longitude
Toronto = [43.65, -79.38]
Dist(Seoul,Toronto)

10603840.545490189

In [99]:
Dis2 = pd.DataFrame(np.nan,Star,Star)

In [100]:
for i in range(len(Star)):
    for j in range(len(Star)):
        Dis2.iloc[i][j] = haversine(tuple(Star.iloc[i][2:]), tuple(Star.iloc[j][2:])) * 1000
        if i==j:
            Dis2.iloc[i][j]=50000

In [101]:
Z = Dis2<100

In [102]:
Z.sum().sum()

10

In [103]:
Z = Dis2<200
ST1 = []
ST2 = []
for i in range(len(Star)):
    for j in range(len(Star)):
        if Z.iloc[i][j]==True :
            ST1.append(Star.iloc[i][1])
            ST2.append(Star.iloc[j][1])
X = pd.DataFrame(np.nan,index=range(Z.sum().sum()),columns=['ST1','ST2'])
X['ST1']=ST1
X['ST2']=ST2
X

                         ST1                       ST2
0       대구광역시 중구 삼덕동1가 17-11       대구광역시 중구 삼덕동1가 25-1
1       대구광역시 중구 삼덕동1가 17-11        대구광역시 중구 삼덕동1가 8-1
2       대구광역시 중구 동성로3가 91-16        대구광역시 중구 삼덕동1가 8-1
3       대구광역시 중구 동성로3가 91-16       대구광역시 중구 동성로3가 32-1
4       대구광역시 중구 동성로3가 91-16      대구광역시 중구 동성로3가 35-13
5        대구광역시 중구 삼덕동1가 25-1      대구광역시 중구 삼덕동1가 17-11
6          대구광역시 수성구 범어동 2-1        대구광역시 동구 신천동 300-2
7   대구광역시 달성군 하빈면 하산리 1217-6  대구광역시 달성군 하빈면 하산리 1077-2
8          대구광역시 중구 덕산동 53-3      대구광역시 중구 동성로3가 35-13
9         대구광역시 중구 삼덕동1가 8-1      대구광역시 중구 삼덕동1가 17-11
10        대구광역시 중구 삼덕동1가 8-1      대구광역시 중구 동성로3가 91-16
11        대구광역시 동구 신천동 330-6         대구광역시 동구 신천동 1506
12       대구광역시 중구 동성로3가 32-1      대구광역시 중구 동성로3가 91-16
13       대구광역시 중구 동성로3가 32-1      대구광역시 중구 동성로3가 35-13
14      대구광역시 중구 동성로3가 35-13      대구광역시 중구 동성로3가 91-16
15      대구광역시 중구 동성로3가 35-13         대구광역시 중구 덕산동 53-3
16      대구광역시 중구 동성로3가 35-13       대구광역시 중구 동성로3가 32-1
17      대구광역시 중구 동성로2가 88-25         대구광역시 중구 남일동 36-1
18        대구광역시 동구 신천동 300-2         대구광역시 수성구 범어동 2-1
19        대구광역시 중구 동문동 20-11         대구광역시 중구 문화동 11-1
20         대구광역시 중구 남일동 36-1      대구광역시 중구 동성로2가 88-25
21         대구광역시 동구 신천동 1506        대구광역시 동구 신천동 330-6
22  대구광역시 달성군 하빈면 하산리 1077-2  대구광역시 달성군 하빈면 하산리 1217-6
23         대구광역시 중구 문화동 11-1        대구광역시 중구 동문동 20-11

In [ ]:
Z = Dis2<300
ST1 = []
ST2 = []
for i in range(len(Star)):
    for j in range(len(Star)):
        if Z.iloc[i][j]==True :
            ST1.append(Star.iloc[i][1])
            ST2.append(Star.iloc[j][1])
X = pd.DataFrame(np.nan,index=range(Z.sum().sum()),columns=['ST1','ST2'])
X['ST1']=ST1
X['ST2']=ST2
X

5,12,39쌍